.log-in-container {
  min-height: 80vh;
}

.password-input {
  position: relative;

  & .helper-part {
    color: red;
    position: absolute;
    right: 0;
    top: 0;
    margin: 30px 5px;
  }
}

.admin-main-link {
  color: white;
  font-size: 15px;

  &:hover {
    text-decoration: none;
    color: white;
  }
}

.admin-nav-link {
  color: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.admin-logo {
  width: 55px;
  margin: 0 8px 8px 0;
}

.admin-new-ap {
  margin-right: 12px;

  &:hover {
    cursor: pointer;
  }

  & svg {
    font-size: 2rem;
  }
}

// Admin Dashboard
.admin-element {
  & > div:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: box-shadow .3s ease-in-out;
  }
  & .admin-activity-loader{
    display: inline-block;
    margin: 0;
    & img {
      width: 25px;
      height: 24px;
    }
  }
  & .admin-chart-loader{
    & .admin-activity-loader{
      min-height: 350px;
      & img {
        width: 200px;
        height: 200px;
        margin: 45% 0;
      }
      & span{
        display: block;
        color: #797575;
        font-size: 18px;
        font-family: cursive ,"Roboto", "Helvetica", "Arial", sans-serif;
      }
      & .admin-empty-database-data{
        margin: 45% 0;
      }
    }
  }
}

.dashboard-all-data, .test-type {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #e7e7e7;

  & > div:nth-child(1) {
    position: relative;
    width: auto;
    line-height: 50px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #009be5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: left;
    padding-left: 15px;

    & > svg {
      margin-bottom: 4px;
    }

    & span.admin-main-link-item {
      text-decoration: none;
      letter-spacing: 0.1em;
      display: inline-block;
      position: relative;

      &:after {
        bottom: 10px;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #fff;
        transition: width 0.4s ease 0s, left 0.4s ease 0s;
        width: 0;
      }

      &:hover:after {
        width: 100%;
        left: 0;
        cursor: pointer;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  & > div:nth-child(2) {
    padding: 10px;
    font-size: 16px;
  }
}

// Admin Applicants

.admin-applicants-title,
.admin-tests-title,
.admin-effects-title,
.admin-edit-view-title,
.admin-test-results-title {
  & span {
    color: #232f3e;
    font-size: 21px;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
  }
}

.applicant-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;

  & > span {
    font-size: 20px;
    margin-top: 15px;
    display: inline-block;

    & span {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.select-all {
  font-size: 12px;

  & svg {
    font-size: 16px;
  }
}

// Admin Create Test
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.createTest {
  position: relative;
  height: 100%;

  & > div {
  }
}

.programing-lang-image,
.programing-level-image,
.programing-level-duration {
  position: relative;
  height: 100%;

  & img {
    height: 50px;
    max-width: 100%;
    @extend .vertical-center
  }
}

.programing-level-image {
  & img {
    height: 65px;
  }
}

.selected-file {
  display: inline;
  & img {
    width: 50px;
  }
}

.add-new-item {
  display: inline;
  float: right;
  margin-right: 10px;

  &:hover {
    cursor: pointer;

    & > svg {
      color: #c4c4c4;
    }
  }

  & div {
    line-height: initial;
  }
}

.technology-selected-image, .quiz-selected-image {
  display: inline;

  & div {
    display: inline-block;
  }
}

.admin-loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 50%;
  z-index: 1303;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.1);
}

.del-tech {
  position: absolute;
  right: 15px;
}

.del-tech-icon {
  max-width: 40px;
  max-height: 40px;
}

.no-found-data-text {
  font-size: 17px;
  color: #5e5e5e
}
.applicants-filters {

  & .filter-title{
    text-align: left;
    color: #232f3e;
  }

  & .past-test-section {
    height: 100%;
    & .past-test-switch {
      width: 80%;
      position: relative;
      border-radius: 8px;
      border: 1px solid #c4c4c4;
      height: 56px;
      margin: 16px auto 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      & label {
        margin: 0;
      }
    }
  }

  & .reset-date {
    float: right;

    &:hover {
      cursor: pointer;
    }
  }
}

.admin-applicants-filter-icon{
  float: right;

  &:focus {
    outline: none;
  }

  &.rotate {
    transform: rotate(180deg);
    & svg {
      color: #737983;
    }
  }
}

.admin-applicants {
  & .nothing-found {

    & span, & svg {
      color: #232f3e;
    }
  }
}


// Admin Tests
.admin-tests-empty-data {
  width: 100%;
  background: white;
  border-radius: 8px;
  border: 1px solid #8080805e;
  min-height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  & span{
    display: block;
    text-align: center;
    color: #797575;
    font-size: 18px;
    font-family: cursive ,"Roboto", "Helvetica", "Arial", sans-serif;
  }
  & .admin-empty-database-data{
    margin: 45% 0;
  }
  & .empty-list {
    & svg {
      margin-right: 6px;
    }
  }
}

// Admin Edit View
.edit-view {
  & .admin-edit-view-title {
    & .admin-edit-view-warning{
      font-size: 12px;
      color: #f19404;
      & svg {
        font-size: 14px;
        margin-bottom: 3px;
      }
    }
  }
}

// Admin Test Results View
.test-results {
  & .admin-test-result-filter-icon {
    float: right;

    &:focus {
      outline: none;
    }

    &.rotate {
      transform: rotate(180deg);
      & svg {
        color: #1a6d8b;
      }
    }
  }

  & .admin-test-results-table {
    & table thead tr th {
      font-weight: 600;
    }
  }

  & .admin-test-results-table-icon {
    margin: 0;

    & img {
      width: 50px;
      height: 50px;
    }
  }

  & .reset-date {
    float: right;

    &:hover {
      cursor: pointer;
    }
  }

  & .led {
    height: 30px;
    width: 30px;
    margin: 0 auto;
    border-radius: 50%;
  }

  & .led-yellow {
    color: yellow;
    background-color: #FF0;
    box-shadow: rgba(0, 0, 0, 0.1) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
    animation: blinkYellow 1.5s infinite;
  }

  & .led-grey {
    color: grey;
    border: 2px solid grey;
  }
}

@keyframes blinkYellow {
  from { background-color: #FF0; }
  50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.1) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
  to { background-color: #FF0; }
}

.test-results-filters, .applicants-filters {
  border: 1px solid #80808030;
  background-color: white;
  min-height: 150px;
  height: auto;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 15px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 1px 3px 0 rgba(0,0,0,0.12);

  & h5 {
    color: #232f3e;
    font-weight: 600;

    & svg {
      font-size: 28px;
      margin-bottom: 5px;
    }
  }

  & hr {
    margin-top: 0;
  }

  & .test-filter-content {
    & > div > div {
      border-top: 4px solid #1a6d8b;
      border-bottom: 4px solid #1a6d8b;
    }
  }

  & .applicants-filter-content {
    & > div > div {
      border-top: 4px solid #232f3ea3;
      border-bottom: 4px solid #232f3ea3;
    }
  }

  & .test-filter-title {
    text-align: left;
    color: #232f3e;
  }
}


.nothing-found {

  & span, & svg {
    color: #1a6d8b;
  }

  & .nothing-found-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    & span {
      font-size: 22px;
      margin-left: 10px;
    }
    & svg {
      font-size: 33px;
    }
  }
}

/* Admin Test Result Single */

.test-result-single {
  & .admin-test-results-user-name {
    float: right;
    font-size: 18px;
    margin-top: 9px;

    & svg {
      margin-bottom: 3px;
    }
  }
}

.test-result-state {
  & .test-result-data-title {
    color: #3f526a;

    &.first-section {
      height: 100%;
    }

    & > span, & .test-result-title {
      font-size: 17px;
      font-weight: 600;
    }

    & svg {
      margin-right: 4px;
      margin-top: -4px;
    }
  }

  & figure {
    & img {
      max-width: 150px;
      max-height: 150px;
    }
  }

  & ul {
    margin: 0;
    padding: 0;

    & li {
      list-style: none;
      padding: 5px 25%;
      text-align: justify;
      font-size: 15px;

      & span:nth-child(1) {
        font-weight: 600;
      }

      & span:nth-child(2) {
        float: right;
      }
    }
  }
  & .test-result-total {
    float: right;
    margin-right: 20px;
  }

  & .answer-score {
    & input {
      text-align: center;
      color: #3f526a;
    }
  }

  & .add-score {
    width: 100%;
    height: 100%;

    & svg {
      color: rgb(63, 82, 106);
    }
  }
}

.test-state-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}