body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body {
    height: 100%;
    margin: 0;
}
#root {
    min-height: 100%;
    margin: 0 auto -70px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App h1{
    text-align: center;
    color: blue;
}
.mt50{
    margin-top: 50px!important;
}
.mb-5{
    margin-bottom: 3rem!important;
}

.h100 {
    height: 100vh;
}

.mb5rem {
    margin-bottom: 0.5rem;
}